.container {
    padding: 2px;
    width: 200px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    height: 44px;
  }
  
  .container i {
    font-size: 24px;
    font-weight: 100;
    color: rgb(135, 138, 140);
  }
  
  .userIcon {
    margin-right: 4px;
  }
  
  .userName {
    line-height: 16px;
    font-size: 12px;
  }

  .userKarma {
    line-height: 16px;
    font-size: 12px;
  }
  
  .userKarma {
    color: #a8aaab;
  }

  .notHovered {
    border: 1px solid transparent;
  }

  .userOptionContainer {
    position: fixed;
    min-height: 100px;
    width: 252px;
    right: 10px;
    top: 50px;
    border-radius: 4px;

  }

  .section {
    padding: 12px 0;

  }

  .sectionHeader {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    height: 40px;
  }

  .sectionHeaderIcon {
    margin-right: 12px;
    color: rgb(120, 124, 126);
  }

  .sectionHeaderTitle {
    flex-grow: 1;
    color: rgb(120, 124, 126);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }

  .optionLine {
    padding-left: 52px;
    padding-right: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .optionTitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none !important;
  }

  .darkModeBtn {
    align-items: center;
    display: flex;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    border-width: 2.25px;
    height: 24px;
    width: 37.5px;
    border-style: solid;
    /* transition: border-color .15s linear, background-color .15s linear; */
  }

  .darkModeBtnRing {
    height: 19.5px;
    width: 19.5px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px 0 rgba(0,0,0,.2);
    transition: left .15s linear;
    border-radius: 57%;
  }