.container {
    height: 48px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #030303;
    color: white;
    padding: 0 32px;
    display: flex;
    align-items: center;
}

.divider {
    border-right: 1px solid #343536;
    content: "";
    display: inline-block;
    height: 16px;
    vertical-align: text-bottom;
    width: 0;
    margin-right: 8px;
}

.container i {
    color: #878a8c;
}

.voteCount {
    border: 0 1px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    width: 32px;
    text-align: center;
}

.postTitle {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
}

.closeName {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.closeBtn {
    cursor: pointer;
}

.upVoted {
    color: #ff4501 !important;
}

.downVoted {
    color: #7193ff !important;
}


