@import 'quill/dist/quill.snow.css';

:root {
  --gray-900: #030303;
  --gray-800: #161617;
  --gray-700:  #1a1a1b;
  --gray-600: #272729;
  --gray-500: #303030;
  --gray-400: #464748;


  --white-800: #f8f9fa;
  --white-700: white;
  --white-600: #f6f7f8;
  --white-500: #edeff1;
  --white-400:#d4d7d9;

}




.dark-mode {
  background-color: var(--gray-900);
}

.dark-mode .post-widget-wrapper .vote-container {
  background-color: var(--gray-800);
}

.dark-mode .post-widget-container,
.dark-mode .premium-widget-container,
.dark-mode .home-widget-container,
.dark-mode .new-post-widget-container,
.dark-mode .navbar-container,
.dark-mode .user-option-container  {
  background-color: var(--gray-700);
}

.dark-mode .new-post-widget-container input{
  background-color: var(--gray-600);
}

.dark-mode .header-search-bar-container.not-hovered {
  background: var(--gray-600);
  border: 1px solid #343536;
  
}



.dark-mode .header-search-bar-container.is-hovered {
  background: var(--gray-700);
  border: 1px solid #d7dadc;
}


.dark-mode .ad-icon-container.not-hovered {
  background-color: var(--gray-500);
}

.dark-mode .ad-icon-container.is-hovered {
  background-color: var(--gray-400);
}

.dark-mode .post-widget-wrapper,
.dark-mode .new-post-widget-container,
.dark-mode .premium-widget-container,
.dark-mode .home-widget-container,
.dark-mode .new-post-widget-container input,
.dark-mode .home-widget-container .break-line,
.dark-mode .navbar-container,
.dark-mode .home-dropdown.is-hovered,
.dark-mode .user-container.is-hovered,
.dark-mode .user-option-container  {
  border: 1px solid #343536;
}

.dark-mode .new-post-widget-container input.is-hovered {
  border-color: #D7DADC;
  background-color: #1A1A1B;
}

.dark-mode,
.dark-mode .ad-icon-container,
.dark-mode .header-search-bar-container input,
.dark-mode .user-option-container a,
.dark-mode .home-dropdown {
  color: #D7DADC;
}

.dark-mode .post-widget-wrapper .post-body {
  background-image: linear-gradient(#FFFFFF, #1a1a1b );
}

body.dark-mode {
  background-color: var(--gray-900) !important;
}

.dark-mode .user-option-container .section-border {
  border-bottom: 1px solid #343536;

}

.light-mode .post-widget-wrapper .vote-container {
  background: var(--white-800);
}

.light-mode .post-widget-container,
.light-mode .premium-widget-container,
.light-mode .home-widget-container,
.light-mode .new-post-widget-container,
.light-mode .navbar-container {
  background: var(--white-700);
}

.light-mode .new-post-widget-container input {
  background-color: var(--white-600)
}

.light-mode .ad-icon-container.not-hovered {
  background-color: var(--white-500);
}

.light-mode .ad-icon-container.is-hovered {
  background-color: var(--white-400);
}

.light-mode .header-search-bar-container.is-hovered {
  background: white;
  border: 1px solid #0079d3;
}

.light-mode .header-search-bar-container.not-hovered {
  background: #f6f7f8;
  border: 1px solid rgb(237, 239, 241);
}

.light-mode .header-search-bar-container input {
  color: #1c1c1c;
}

.light-mode .post-widget-wrapper,
.light-mode .new-post-widget-container,
.light-mode .premium-widget-container,
.light-mode .home-widget-container,
.light-mode .home-widget-container .break-line {
  border: 1px solid #cccccc;
}

.light-mode .new-post-widget-container input,
.light-mode .user-container.is-hovered {
  border: 1px solid #edeff1;
}

.light-mode .new-post-widget-container input.is-hovered {
  border-color: #0079D3;
  background-color: white;
}

.light-mode,
.light-mode .user-option-container a {
  color: rgb(28, 28, 28);
}

.light-mode .post-widget-wrapper .post-body {
  background-image: linear-gradient(black, #FFFFFF);
}

.light-mode .home-dropdown.is-hovered {
  border: 1px solid #edeff1;
}

.light-mode .user-option-container {
  border: 1px solid rgb(237, 239, 241);
  background-color: rgb(255, 255, 255);
}

.light-mode .user-option-container .section-border {
  border-bottom: 1px solid rgb(237, 239, 241);

}

.light-mode .user-option-container .option-line:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.home-dropdown.not-hovered {
  border: 1px solid transparent;
}


body.light-mode {
  background-color: #dae0e6;;
}

.light-mode .navbar-container {
  border-bottom: 1px solid rgb(237, 239, 241);
}

.light-mode .home-dropdown {
  color: #1c1c1c;
}

.light-mode .reddit-logo {
  fill: #ff4501;
}

.dark-mode .reddit-logo {
  fill: #ffffff;
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}



* {
  box-sizing: border-box;
}

a {
  color: #413e2e;
  text-decoration: none;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}


button {
  border: none;
  padding: 0;
  background: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* custom css */
textarea:focus, input:focus{
  outline: none;
}

.font-14 {
  font-size: 14px;
}

a:hover { 
  text-decoration: none; 
}

html,
body {
  width: 100%;
  /* height: 100%; */
  margin: 0;
  /* background-color: #dae0e6;; */
}

.canvas {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  /* height: 100vh; */
}

.display-body {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  top: 20px;
  justify-content: center;
}

.center-column {
  width: 640px;
  display: flex;
  flex-direction: column;
}

.right-column {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.margin-right-8 {
  margin-right: 8px;
}

.margin-right-4{
  margin-right: 4px;
}

.padding-right-4 {
  padding-right: 4px;
}

.padding-left-4 {
  padding-left: 4px;
}

.margin-x-4 {
  margin: 0 4px;
}


.padding-y-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.margin-y-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.font-14 {
  font-size: 14px;
}

.empty-line {
  line-height: 10px;
}

.font-16 {
  font-size: 16px;
}

.right-column {
  margin-left: 24px;
  width: 312px;
}

.background-test {
  background-color: yellow;
}

.premium-icon {
  color: #ff4500;
  margin-right: 12px;
  height: 24px;
  flex: 0 0 24px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.post-body a{
  overflow-wrap: break-word;
  word-wrap: break-word !important;
  word-break: break-word;
  pointer-events: none;
}


.post-widget-wrapper .post-body {
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  max-height: 200px;
}



.popup-open {
  overflow: hidden;
}

.line-break {
  width: 100%;
  border: 0;
  border-top: 1px solid #EDEFF1;
}

.signin-label {
	width: 100%;
	background-color: #eaedef;
	border-radius: 16px;
	height: 60px;
	padding: 0px 20px;
}

.signin-label .signin-wrapper {
  height: 100%;
  justify-content: center;
}

.signin-label .login-label-name {
	margin: 0;
  font-size: 18px;
  transition: font-size 0.1s ease;
  color: #576f76;
}

.required-asterisk {
  margin-left: 4px;
  color: red;
}

.signin-label .login-input  {
	border:none;
	background-color: transparent;
	line-height: 0;
	height: 0;
	padding: 0;
  margin: 0;
  transition: height 0.1s ease;
}

.signin-label:focus-within .login-label-name,
.login-label-name.show-label {
  font-size: 14px;
  transition: font-size 0.1s ease;
}

.signin-label:focus-within .login-input,
.login-input.show-input  {
  font-size: 16px;
  height: 20px;
  transition: height 0.1s ease;
}

.login-button {
  height: 48px !important;
  font-size: 16px;
  font-weight: 600;
}

#__next {
  /* height: 100%; */
}

.color-saved .material-icons{
  color: red !important;
}

.header-title-selected {
  border-bottom: 1px solid rgb(0, 121, 211);
  color: rgb(0, 121, 211) !important;
}

.style-avatar-btn {
  background: linear-gradient(90deg,#ec0623,#ff8717);
}

.margin-top-28 {
  margin-top: 28px;
}

.glyphicon {
  top: 0 !important;
  /* color: white; */
}

.no-permission-font {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  margin: 16px 0;
}

.whole-page-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* width: 100%; */
  /* height: 100%; */
}

.threadline {
  border-right: 2px rgb(237, 239, 241) solid ;
}

a {
  text-decoration: none !important;
}

.upvoted .vote-count,
.upvoted .upvote-icon {
  color: #ff4501 !important;
}

.downvoted .vote-count,
.downvoted .downvote-icon{
  color: #7193ff !important;
}


.ql-container.ql-snow {
  min-height: 122px;
  border: 1px solid #EDEFF1;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  border-bottom-right-radius: 4px;
}

.ql-toolbar.ql-snow {
  border: 1px solid #EDEFF1;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;

}

.ql-editor:focus {
  border-color: rgb(28, 28, 28) !important;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Full viewport height */
}

/* Loading spinner animation */
.loading-spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Spin animation */
}

/* Spin animation keyframes */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



